<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/Contact/contact.css" />
    <link rel="stylesheet" href="/menu.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Borel&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Tektur:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Croissant+One&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Portfolio Website</title>
  </head>

  <body>
    <main>
      <div class="backdrop"></div>

      <%- include('../includes/main-header.ejs', {path: path}) %> <%-
      include('../includes/mobile-nav.ejs') %>

      <section class="main-body" id="main-body">
        <section class="mb-hero-section">
          <div class="mb-hero-details">
            <div class="mb-hero-head">
              <h1 class="mb-hero-header">contact.</h1>
              <span class="mb-hero-header2"
                >Let's have talk with me in social media or email</span
              >
            </div>
            <div class="social-links">
              <div>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-linkedin"></a>
              </div>
              <div>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-github"></a>
              </div>
            </div>
          </div>
        </section>

        <section class="mb-form-section">
          <span class="form-header">Send me an email</span>
          <form method="POST" action="/contact" class="contact-form">
            <input
              class="contact-form_input"
              type="text"
              placeholder="Your Name"
              name="name"
            />
            <input
              class="contact-form_input"
              type="email"
              placeholder="Your Email"
              name="email"
            />
            <textarea
              class="contact-form_textarea"
              type="text"
              name="message"
              placeholder="Type Message"
            ></textarea>
            <button class="contact-btn">Submit</button>
          </form>
        </section>
      </section>

      <%- include('../includes/footer.ejs') %>
    </main>

    <script src="../main.js"></script>
  </body>
</html>
