<section class="footer">
  <a class="arrow-container" href="#main-body">
    <div class="semi-circle"><div class="semi-circle__arrow">△</div></div>
  </a>
  <div class="footer-container">
    <div class="footer-container-head">
      <span><a>@2024 Aritya Khamrui</a></span>
    </div>
    <div class="footer-container-list">
      <ul class="footer-container-list_items">
        <li class="footer-container-list_item">
          <a href="/contact">Contact</a>
        </li>
        <li class="footer-container-list_item">
          <a href="/about">About Me</a>
        </li>
        <li class="footer-container-list_item">
          <a href="/projects">Projects</a>
        </li>
        <li class="footer-container-list_item">
          <a href="/experience">Experience</a>
        </li>
      </ul>
    </div>
  </div>
</section>
